<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/public-css/main.css">
</head>

<body class="body">
    <h1 class="title">
        <%= titleMovie %>
    </h1>
    <img class="img" src="<%= imageMovie %>" />
    <h2 class="genre">
        <%= genreMovie %>
    </h2>
    <p class="category">
        <%= categoryMovie %>
    </p>
    <p class="year">
        <%= yearMovie %>
    </p>
    <a href="http://localhost:4000">Volver a la página principal</a>
</body>

</html>